.add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.3rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  background: lightblue;
  font-size: inherit;
  color: darkslategrey;
  cursor: pointer;
}

.add-btn span {
  position: relative;
  top: 2px;
  font-size: 1.2rem;
}

.exercise-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 75vw;
}

.card {
  border: 1px solid;
  border-radius: 10px;
  width: 16rem;
  background: whitesmoke;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 8px;
  color: #605959;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  font-size: 1.2rem;
}

.header span:hover {
  cursor: pointer;
  color: red;
}
